#section2{
    display: none;
}
#section3{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
.background{
    background-image: url('flag2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: inherit;
}